.Dashpanel{
  padding: 90px 0;
  height: auto;
  background-color: #fff;
  @media (min-width: 992px) {
    height: 100vh;
  }

  .dash_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 992px) {
      flex-wrap: nowrap;
    }
    .dash_box_iteams {
      background-color: #0E3E77;
      border-radius: 8px;
      box-shadow: 0 2px 5px #B6C0D3;
      width: 100%;
      margin: 30px 12px;
      padding: 25px;
      height: 207px;
      display: flex;
      align-items: flex-end;
      position: relative;
      a {
        color: #fff;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
      h2 {
        color: #fff;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
      }
      ._cricle-icons {
        display: flex;
        background-color: #fff;
        width: 81px;
        height: 81px;
        border-radius: 100%;
        justify-content: center;
        position: absolute;
        align-items: center;
        top: -40px;
        box-shadow: 0 3px 6px #000000;
        left: 40px;
        color: #000000;
      }
      ._bg-panel {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 0 0 15px 0;
      }
    }
  }
}