.Loadcollapse{
  .loadArrow {
    position: absolute;
    right: 0;
    background-color: #3362A1;
    padding: 4px 7px;
    border-radius: 3px;
    margin: 1px 0;
    svg {
      transform: rotate(180deg);
    }
  }
  .loadArrow[aria-expanded="true"] {
    svg {
      transform: rotate(0deg);
    }
  }
}